for loop

In [ ]:
fruits = ["apple", "banana", "mango"]
for x in fruits:
    print(x)

In [ ]:
for x in "bananan":
    print(x)

In [ ]:
for x in range(16):
    print(x)

In [ ]:
for x in range(5, 16):
    print(x)

In [5]:
#natural number

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
#even number

for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [9]:
#odd number

for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [19]:
#even number in reverce order
for i in range(12,0,-2):
    print(i)

12
10
8
6
4
2

In [26]:
#table
i=1
x = int(input("enter the number"))
for i in range(1,11):
    b = i*x
    print(b)

12
24
36
48
60
72
84
96
108
120

In [42]:
#factorial number

x = int(input("enter the number::"))
a = 1
for i in range(1 ,x + 1):
    a = a*i
    print(a)

print("the factoeial of",x,  "is",a)

1
2
6
24
the factoeial of 4 is 24

In [35]:
num = int(input("enter number"))
factorial = 1
for i in range(1,num + 1):
       factorial = factorial*i
       print("The factorial of",num,"is",factorial)

The factorial of 50 is 1
The factorial of 50 is 2
The factorial of 50 is 6
The factorial of 50 is 24
The factorial of 50 is 120
The factorial of 50 is 720
The factorial of 50 is 5040
The factorial of 50 is 40320
The factorial of 50 is 362880
The factorial of 50 is 3628800
The factorial of 50 is 39916800
The factorial of 50 is 479001600
The factorial of 50 is 6227020800
The factorial of 50 is 87178291200
The factorial of 50 is 1307674368000
The factorial of 50 is 20922789888000
The factorial of 50 is 355687428096000
The factorial of 50 is 6402373705728000
The factorial of 50 is 121645100408832000
The factorial of 50 is 2432902008176640000
The factorial of 50 is 51090942171709440000
The factorial of 50 is 1124000727777607680000
The factorial of 50 is 25852016738884976640000
The factorial of 50 is 620448401733239439360000
The factorial of 50 is 15511210043330985984000000
The factorial of 50 is 403291461126605635584000000
The factorial of 50 is 10888869450418352160768000000
The factorial of 50 is 304888344611713860501504000000
The factorial of 50 is 8841761993739701954543616000000
The factorial of 50 is 265252859812191058636308480000000
The factorial of 50 is 8222838654177922817725562880000000
The factorial of 50 is 263130836933693530167218012160000000
The factorial of 50 is 8683317618811886495518194401280000000
The factorial of 50 is 295232799039604140847618609643520000000
The factorial of 50 is 10333147966386144929666651337523200000000
The factorial of 50 is 371993326789901217467999448150835200000000
The factorial of 50 is 13763753091226345046315979581580902400000000
The factorial of 50 is 523022617466601111760007224100074291200000000
The factorial of 50 is 20397882081197443358640281739902897356800000000
The factorial of 50 is 815915283247897734345611269596115894272000000000
The factorial of 50 is 33452526613163807108170062053440751665152000000000
The factorial of 50 is 1405006117752879898543142606244511569936384000000000
The factorial of 50 is 60415263063373835637355132068513997507264512000000000
The factorial of 50 is 2658271574788448768043625811014615890319638528000000000
The factorial of 50 is 119622220865480194561963161495657715064383733760000000000
The factorial of 50 is 5502622159812088949850305428800254892961651752960000000000
The factorial of 50 is 258623241511168180642964355153611979969197632389120000000000
The factorial of 50 is 12413915592536072670862289047373375038521486354677760000000000
The factorial of 50 is 608281864034267560872252163321295376887552831379210240000000000
The factorial of 50 is 30414093201713378043612608166064768844377641568960512000000000000